h2
{
    text-align: center;
}
.mdc-form-field {
    display: inline-flex !important;
    align-items: center;
    vertical-align: middle;
    flex-direction: row-reverse;
}
.myClass{
    display: inline-flex !important;
    align-items: center;
    vertical-align: middle;
    flex-direction: row-reverse;
}
.mat-mdc-list-option.mat-accent {
    --mdc-checkbox-disabled-selected-icon-color: rgb(203 195 195 / 38%);
    --mdc-checkbox-disabled-unselected-icon-color: rgb(227 221 221 / 38%);
    --mdc-checkbox-selected-checkmark-color: white;
    --mdc-checkbox-selected-focus-icon-color: rgb(90 0 253);
    --mdc-checkbox-selected-hover-icon-color: rgb(77 14 190);
    --mdc-checkbox-selected-icon-color: rgb(138 87 230);
    --mdc-checkbox-selected-pressed-icon-color: rgb(103 33 230);
    --mdc-checkbox-unselected-focus-icon-color: #212121;
    --mdc-checkbox-unselected-hover-icon-color: #212121;
    --mdc-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-checkbox-selected-focus-state-layer-color: #ffd740;
    --mdc-checkbox-selected-hover-state-layer-color: #151207;
    --mdc-checkbox-selected-pressed-state-layer-color: #ffd740;
    --mdc-checkbox-unselected-focus-state-layer-color: black;
    --mdc-checkbox-unselected-hover-state-layer-color: black;
    --mdc-checkbox-unselected-pressed-state-layer-color: black;
}
html {
    --mdc-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, 0.38);
    --mdc-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, 0.38);
    --mdc-checkbox-selected-checkmark-color: white;
    --mdc-checkbox-selected-focus-icon-color: #504d40;
    --mdc-checkbox-selected-hover-icon-color: #673ab7;
    --mdc-checkbox-selected-icon-color: #3f51b5;
    --mdc-checkbox-selected-pressed-icon-color: #0021d9;
    --mdc-checkbox-unselected-focus-icon-color: #000000;
    --mdc-checkbox-unselected-hover-icon-color: #000000;
    --mdc-checkbox-unselected-icon-color: #673ab7;
    --mdc-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-checkbox-selected-focus-state-layer-color: #888474;
    --mdc-checkbox-selected-hover-state-layer-color: #3f51b5;
    --mdc-checkbox-selected-pressed-state-layer-color: #3f51b5;
    --mdc-checkbox-unselected-focus-state-layer-color: black;
    --mdc-checkbox-unselected-hover-state-layer-color: black;
    --mdc-checkbox-unselected-pressed-state-layer-color: black;
    --mat-checkbox-disabled-label-color: rgba(0, 0, 0, 0.38);
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
    align-items: center;
}
.selectFeatures{
    margin-top: 15px;
}
.characteristic-box {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  .characteristic-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }