  <!-- <div class="container text-center">
    <div class="row">
      <div class = "col">
        <form (ngSubmit)="onSubmit()">
          <h3>Выберите фичи:</h3>
          <mat-list>
            <mat-list-item *ngFor="let feature of features">
              <mat-checkbox [value]="feature.id.toString()" (change)="toggleSelection($event, feature.id)">{{ feature.featureName }}</mat-checkbox>
            </mat-list-item>
          </mat-list>
          <button mat-raised-button color="primary" type="submit">Отправить</button>
        </form>
      </div>
      <div class="col">
        <h2> Genetic Solution</h2>
        <app-genetic-algo></app-genetic-algo>
      </div>
      <div class="col">
        <h2> Greedy Solution</h2>
        <app-greedy-alg></app-greedy-alg>
      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2"> 
        <form (ngSubmit)="onSubmit()" class = "selectFeatures">
          <h3>Select main features:</h3>
          <!-- <button mat-raised-button (click)="selectAllFeatures()">Выбрать все</button> -->
          <span> Select all options </span>
          <mat-checkbox (change)="selectAllOptions($event)" class="primary"></mat-checkbox>
        <button mat-raised-button color="primary" type="submit">Get Solution</button>

          <mat-selection-list #listOfSelectedFeachures>
            @for (f of features; track f) {
              <mat-list-option [value]="f" (click)="toggleSelection(f)">{{f.featureName}}</mat-list-option>
            }
          </mat-selection-list>
        </form>

      </div>
      <div class="col-md-auto">
        <h2> Genetic Solution</h2>
        <app-genetic-algo></app-genetic-algo>
      </div>
      <div class="col-md-auto">
        <h2> Greedy Solution</h2>
        <app-greedy-alg></app-greedy-alg>
      </div>
    </div>
  </div>