<div class="main-body">
    
    <div class="mat-elevation-z8">
        <div class="my-table" >
            <div *ngIf="message;">
                {{ message }}
              </div>
            <table *ngIf="!message;"class="my-table-table" mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="id" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="name" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                
                <ng-container *ngFor="let characteristic of characteristics"  #tableTemplate>
                    <ng-container matColumnDef="{{characteristic.name}}">
                        <th mat-header-cell *matHeaderCellDef> {{ characteristic.name }}  </th>
                        <td mat-cell *matCellDef="let item"> {{ getItemValue(item, characteristic.id)}} </td>
                    </ng-container>
                 
                </ng-container>
                <div> {{ message }} </div>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
    <div  *ngIf="!message;" class = "export"> 
        <button class="btn btn-primary" type="button" (click)="exportItems()">Export Greedy Results</button>
    </div>
</div>